
<h1>Home Page</h1>
<p>
Hello This is my Home page.
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>

<%= link_to "Sign up now!", :signup, :class => "btn btn-info" %>
